body {
  background-color: #eee;
  color: #000;
  margin-top:20px;
  min-width:960px;  
}
#wrap {
  background-color:#fff;
  margin:0 auto;
  width:960px;
  border-width: 0 1px;
  border-style: solid;
}
header {
  background-color: #808080;
  color: #fff;
  border-width: 1px 0;
  border-style: solid;
  padding: 10px;
}
header h1 {
  padding:5px;
  margin:0;
}
nav {
  background-color: #c0c0c0;
  color: #000;
  padding:5px;
  text-align: right;
  border-bottom: 1px;
  border-style: solid;
}
nav ul {
  margin:0;
  padding:0; 
  list-style:none;
}
nav li {
  display:inline;
  margin:0;
  padding:0;
}
nav a {
  text-decoration: none;
  background-color: #808080;
  color: #000;
  padding: 4px 5px 4px 5px;
  border: solid 1px #000;
}
nav a:hover {
  text-decoration: none;
  background-color: #808080;
  color: #fff;
  padding: 4px 5px 4px 5px;
}
section#main {
  background:#fff;
  width:100%;
}
section#main h2, section#main h3, section#main p {
  padding: 4px 0;
}
section#main p {
  line-height: 14px;
}
div#contents {
    float: left;
    width: 752px;
    margin: 4px;
}
aside {
  color: #000;
  float:left;
  width:200px;
}
aside h3 {
  margin: 5px 10px 1px 10px;
  padding-bottom: 0;
}
aside ul {
  border: solid 1px #fff;
  border-bottom-width: 0;
  margin: 0px 10px;
  margin-bottom: 2px;
  padding: 0;
}
aside ul, #sidebar ul li {
  list-style-type: none;
  display: block;
}
aside ul li {
  border-bottom: solid 1px #fff;
}
aside ul li, aside ul li a {
  margin: 0;
  display: block;
  padding: 0;
  line-height: normal;
}
aside ul li a {
  display: block;
  padding: 2px 5px 3px 5px;
}
aside ul li a:link, aside ul li a:visited, aside ul li a:active {
  text-decoration: none;
  background-color: #cdc;
  color: #000;
}
aside ul li a:hover {
  text-decoration: none;
  background-color: #808080;
  color: #fff;
}
aside h3, aside p {
  padding:0 10px 0 0;
}
footer {
  background-color: #808080;
  color: #fff;
  text-align: center;
  clear:both;
  border-width: 1px 0;
  border-style: solid;
}
footer p {
  padding:5px;
  margin:0;
}
#wrap, header, footer, nav, nav ul li a, aside, aside ul, aside ul li {
  border-color: #c0c0c0;
}

table {
  width: auto;
  border: 1px solid #c0c0c0;
  background-color: #fff;
}

th {
  padding: 3px 4px;
  color: #fff;
  background-color: #808080;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  text-align: left;
}

td {
  text-align: left;
  font-size: 11px;
  padding: 4px;
  line-height: 16px;
}

input, textarea {
  font-size: 11px;
  font-weight: normal;
  cursor: text;
  vertical-align: middle;
  padding: 2px;
  color: #000;
  border: 1px solid #c0c0c0;
  background-color: #ded;
}

input:hover, textarea:hover {
  border: solid 1px #f00;
}

input.button {
  padding: 1px 3px;
  background-color: #c0c0c0;
  color: #000;
  cursor: pointer;
  line-height: 13px;
}

input.button:hover {
  background-color: #808080;
  color: #fff;
}

option {
  padding: 0 12px 0 0;
  color: #000;
}

option.disabled-option {
  color: graytext;
}

.pagination span {
  font-family: Tahoma,arial,Verdana,Sans-serif;
  background-color: #787;
  color: #fff;
  border: 1px solid #787;
  padding: 0px 3px 1px 3px;
}

.pagination a {
  font-family: Tahoma,arial,Verdana,Sans-serif;
  text-decoration: none;
  background-color: #808080;
  color: #000;
  border: 1px solid #c0c0c0;
  padding: 0px 3px 1px 3px;
}
.pagination a:hover {
  font-family: Tahoma,arial,Verdana,Sans-serif;
  border-color: #787;
  background-color: #787;
  color: #fff;
}

.clearfix{ clear: both; }
